*.egg-info
*.mo
*.pyc
*~
.*.kate-swp
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
develop-eggs/
downloads/
eggs/
include/
lib/
local.cfg
Makefile
parts/
src/collective.z3cform.widgets/
var/
