*~
*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.*.kate-swp
.DS_Store
library-settings.txt
log.html
output.xml
report.html
selenium*
bin/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
var/
local.cfg
.project
.pydevproject
.settings/
